body{
    background-color: rgb(196, 189, 174);
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.53);
    height: 70px;

    border-radius: 15px;
}

.logo{
    width: 60px;
    margin-left: 10px;
}
h1{
    margin-right: 560px;
    color: #46a910;
}
.Burger img{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}
.Burger{
    display: inline-block;
    justify-content: space-between;
    margin-left: 40px;
}

.lista{
    display: inline-block;
    list-style: none;
    width: 200px;
}
.lista li a{
    display: inline-block;
    justify-content: center;
    margin-top: 8px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
}
.lista li a:hover{
    color: #46a910;
}
.container{
    justify-content: center;
    margin-left: 230px;
    margin-top: 80px;
}
.butoni{
    border-radius: 15px;
    display: block;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #46a910;
    margin-top: 30px;
    margin-left:340px;
    justify-content: center;
    cursor: pointer;
}