*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(backgroundfood.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}
.kutia{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    padding-top: 90px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    height: 620px;
    width: 350px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid beige;
    overflow: hidden;
}
.login{
    position: absolute;
    width: 85%;
    left: 30px;
    transition: .5s ease-in-out;

}
.larte{
    text-align: center;
    margin: 25px 0;
    margin-bottom: 100px;
}
.remember{
    margin-top: 5px;
  
}
.fusha{
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
    
}
.inputboxi{
    border: none;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.submit{
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-top: 140px;
    border: none;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100px;
    cursor: pointer;
}
.newacc{
    margin-left: 18px;
    margin-top: 200px;
    color: black;
    text-decoration: none;
}